<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="iq-edit-list-data">
        <div class="tab-content">
          <div
            *ngIf="PendingUserData"
            class="tab-pane fade active show"
            id="personal-information"
            role="tabpanel"
          >
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Verify User</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="col-12">
                  <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of slides">
                      <ng-template carouselSlide [id]="slide.id">
                        <div class="slide">
                          <img [src]="slide.thumbnailURL" alt="image" />
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
                </div>
              </div>
            </div>

            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Bio User</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="col-12">
                  <div>
                    {{ PendingUserData.userBios[0].aboutMe }}
                  </div>
                </div>
              </div>
            </div>
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Basic Details</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="col-12">
                  <div>
                    <label>Email Address:</label>
                    {{ PendingUserData.email }}
                  </div>
                  <div>
                    <label>Name:</label>
                    {{ PendingUserData.userAbouts[0].name }}
                  </div>
                  <div>
                    <label>Gender:</label>
                    {{ PendingUserData.gender }}
                  </div>
                  <div>
                    <label>Phone:</label>
                    {{ PendingUserData.phoneNumber }}
                  </div>
                  <div>
                    <label>Date Of Birth:</label>
                    {{ PendingUserData.userAbouts[0].dateOfBirth }}
                  </div>
                  <div>
                    <label>Marital Status:</label>
                    {{ PendingUserData.userAbouts[0].maritalStatus }}
                  </div>
                  <div>
                    <label>No of Children:</label>
                    {{ PendingUserData.userAbouts[0].childrenStatus }}
                  </div>
                </div>
              </div>
            </div>
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Life Style</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="col-12">
                  <div>
                    <label>Eating:</label>
                    {{ PendingUserData.userHabits[0].eatingHabit }}
                  </div>
                  <div>
                    <label>Smoking:</label>
                    {{ PendingUserData.userHabits[0].smokingHabit }}
                  </div>
                  <div>
                    <label>Drinking:</label>
                    {{ PendingUserData.userHabits[0].drinkingHabit }}
                  </div>
                </div>
              </div>
            </div>
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Religion Details</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="col-12">
                  <div>
                    <label>Religion:</label>
                    {{ PendingUserData.userReligions[0].religion }}
                  </div>
                  <div>
                    <label>Caste:</label>
                    {{ PendingUserData.userReligions[0].cast }}
                  </div>
                  <div>
                    <label>Gothra:</label>
                    {{ PendingUserData.userReligions[0].aboutMe }}
                  </div>
                  <div>
                    <label>Mother Tongue:</label>
                    {{ PendingUserData.userReligions[0].motherTongue }}
                  </div>
                  <div>
                    <label>Manglik:</label>
                    {{ PendingUserData.userReligions[0].isManglik }}
                  </div>
                </div>
              </div>
            </div>
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Career Details</h4>
                </div>
              </div>
              <div class="iq-card-body">
                <div class="col-12">
                  <div>
                    <label>Occupation:</label>
                    {{ PendingUserData.userCareers[0].occupation }}
                  </div>
                  <div>
                    <label>Employed In:</label>
                    {{ PendingUserData.userCareers[0].employedIn }}
                  </div>
                  <div>
                    <label>Annual Income:</label>
                    {{ PendingUserData.userCareers[0].annualIncome }}
                  </div>
                  <div>
                    <label>Highest Education:</label>
                    {{ PendingUserData.userCareers[0].highestEducation }}
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary mr-2" (click)="VerifyUser()">
              Verify User
            </button>
            <button class="btn btn-secondary mr-2" (click)="RejectUser()">
              Block User
            </button>
            <!-- <div>
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Bio User</h4>
                </div>
                <div class="iq-card-body">
                  <div class="col-12">
                    <div>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="iq-card">
              <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                  <h4 class="card-title">Basic Details</h4>
                </div>
                <div class="iq-card-body">
                  <div class="col-12">
                    <div>
                      <label>Email Address:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                    <div>
                      <label>Name:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                    <div>
                      <label>Gender:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                    <div>
                      <label>Phone:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                    <div>
                      <label>Date Of Birth:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                    <div>
                      <label>Marital Status:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                    <div>
                      <label>No of Children:</label>
                      {{ PendingUserData.userBios[0].aboutMe }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
             <div>
              <div>
                <form>
                  <div class="form-group row align-items-center">
                    <div class="row align-items-cente">
                  
                    </div>
                    <div class="row align-items-center">
                      <div class="form-group col-sm-6">
                        <label for="firstName">First Name:</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Alex"
                          [ngClass]="{
                            'is-invalid': submitted && f.firstName.errors
                          }"
                          formControlName="firstName"
                        />
                        <div *ngIf="submitted && f.firstName.errors">
                          <div
                            *ngIf="f.firstName.errors.required"
                            class="text-danger"
                          >
                            First Name is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="lName">Last Name:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="lName"
                          placeholder="Smith"
                          formControlName="lastName"
                          [ngClass]="{
                            'is-invalid': submitted && f.lName.errors
                          }"
                        />
                        <div *ngIf="submitted && f.lName.errors">
                          <div
                            *ngIf="f.lName.errors.required"
                            class="text-danger"
                          >
                            Last Name is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="lName">Email:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Enter Your Email"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid': submitted && f.email.errors
                          }"
                        />
                        <div *ngIf="submitted && f.email.errors">
                          <div
                            *ngIf="f.email.errors.required"
                            class="text-danger"
                          >
                            Email is required
                          </div>
                          <div *ngIf="f.email.errors.email" class="text-danger">
                            Please, Enter Valid Email Address
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="phone">Phone no:</label>
                        <input
                          class="form-control"
                          placeholder="(000) 000-000"
                          type="tel"
                          mask="000-000-0000"
                          [ngClass]="{
                            'is-invalid': submitted && f.phone.errors
                          }"
                          formControlName="phoneNumber"
                        />
                        <div *ngIf="submitted && f.phone.errors">
                          <div
                            *ngIf="f.phone.errors.required"
                            class="text-danger"
                          >
                            Mobile Number is required
                          </div>
                          <div
                            *ngIf="f.phone.errors.pattern"
                            class="text-danger"
                          >
                            Please, Enter 10 digit Mobile Number.
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="dob">password</label>
                        <input
                          class="form-control"
                          placeholder="Password"
                          [ngClass]="{
                            'is-invalid': submitted && f.password.errors
                          }"
                          formControlName="password"
                        />
                        <div *ngIf="submitted && f.password.errors">
                          <div
                            *ngIf="f.password.errors.required"
                            class="text-danger"
                          >
                            password is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label for="dob">Confirm Password</label>
                        <input
                          class="form-control"
                          placeholder="Confirm Password"
                          [ngClass]="{
                            'is-invalid': submitted && f.confirmPassword.errors
                          }"
                          formControlName="confirmPassword"
                        />
                        <div *ngIf="submitted && f.confirmPassword.errors">
                          <div
                            *ngIf="f.confirmPassword.errors.required"
                            class="text-danger"
                          >
                            Confirm Password is required
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label class="d-block">Gender:</label>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            value="Male"
                            name="gender"
                            formControlName="gender"
                            [ngClass]="{
                              'is-invalid': submitted && f.gender.errors
                            }"
                          />
                          <label class="form-check-label" for="doctor_active">
                            Male
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            formControlName="gender"
                            value="Female"
                            [ngClass]="{
                              'is-invalid': submitted && f.gender.errors
                            }"
                          />
                          <label class="form-check-label" for="doctor_inactive">
                            Female
                          </label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            formControlName="gender"
                            value="Other"
                            [ngClass]="{
                              'is-invalid': submitted && f.gender.errors
                            }"
                          />
                          <label class="form-check-label" for="doctor_inactive">
                            Other
                          </label>
                        </div>
                      </div>
                      <div class="form-group col-sm-6">
                        <label>Role:</label>
                        <select
                          class="form-control"
                          id="exampleFormControlSelect1"
                          formControlName="role"
                          [ngClass]="{
                            'is-invalid': submitted && f.maritalstatus.errors
                          }"
                        >
                          <option selected="">select</option>
                          <option value="1">L1 Support</option>
                          <option value="2">L2 Support</option>
                          <option value="3">L3 Support</option>
                          <option value="4">Admin</option>
                          <option value="5">Super Admin</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-secondary mr-2">
                    Verify User
                  </button>
                </form>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
