<div class="container">
  <div class="iq-card-header d-flex justify-content-between">
    <div class="iq-header-title">
      <div></div>
      <h4 class="card-title text-center">
        <span class="mx-2" routerLink="..">
          <i class="fa fa-arrow-left " style="color: rgb(214, 24, 94);cursor: pointer;"></i
        ></span>
        Connect Details
      </h4>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="table-head-bg">Time Stamp</th>
        <th class="table-head-bg">User B(MPID - NAME)</th>
        <th class="table-head-bg">CR/DB</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>DB</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Refund</td>
      </tr>
    </tbody>
  </table>
</div>
