
  <div class="col-md-12 col-lg-12 mt-4">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Payment Details</h4>
        </div>
        
      </div>
      <div
        class="iq-card-body"
        style="overflow-x: scroll"
      >
      <div class="container mt-3">        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-warning">Transection ID</th>
              <th class="text-warning">Time Stamp</th>
              <th class="text-warning">Payment Source</th>
              <th class="text-warning">Discount</th>
              <th class="text-warning">Discount Source</th>
              <th class="text-warning">Amount</th>
              <th class="text-warning">No of Connects</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>NEFT/dfhcjd/034</td>
              <td>DD:MM:YY:HH:MM</td>
              <td>UPI</td>
              <td>20%</td>
              <td>Coupon</td>
              <td>80</td>
              <td>2</td>

            </tr>
            <tr>
              <td>NA</td>
              <td>DD:MM:YY:HH:MM</td>
              <td>NA</td>
              <td>100%</td>
              <td>Referral</td>
              <td>0</td>
              <td>1</td>

            </tr>
            <tr>
              <td>NEFT/dfhcjd/034</td>
              <td>DD:MM:YY:HH:MM</td>
              <td>Online banking</td>
              <td>0%</td>
              <td>NA</td>
              <td>200</td>
              <td>4</td>

            </tr>
            
          </tbody>
        </table>
      </div>
      

      </div>
      </div>
      </div>
