
  <div class="col-md-12 col-lg-12 mt-4">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Payment Details</h4>
        </div>
        
      </div>
      <div
        class="iq-card-body"
        style="overflow-x: scroll"
      >
      <div class="container mt-3">        
        <table class="table table-bordered">
          <thead>
            <tr class="table-head-bg">
              <th >Transection ID</th>
              <th>Time Stamp</th>
              <th>Payment Source</th>
              <th>Discount</th>
              <th>Discount Source</th>
              <th>Amount</th>
              <th>No of Connects</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let item of RechargeHistory" >
              <td>{{ item.transactionId}}</td>
              <td>{{ item.date}}</td>
              <td>{{ item.modeOfPayment}}</td>
              <td>{{ item.discountedAmount}}</td>
              <td>{{ item.paymentStatus}}</td>
              <td>{{ item.actualAmount}}</td>
              <td>{{ item.connectCount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      

      </div>
      </div>
      </div>
