<div class="col-md-12 col-lg-12 mt-4 w-75 mx-auto my-auto">
    <div class="iq-card">
        <div class="iq-card-header row d-flex">
            <div class="iq-header-title col-sm-6">
                <h4 class="card-title">
                ID Approval
                </h4>
            </div>
            <div class="iq-header-title col-sm-6">
                <h4 class="card-title float-right">
                    MPID
                </h4>
            </div>
        </div>
        <div class="d-flex flex-row mt-2">
        </div>
        <div class="iq-card-body">
            <div class="row">
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex">
                    <div class="col-xs col-sm-6 d-flex justify-content-end">
                        <h4 class="idtype">Id Type:</h4>
                    </div>
                    <div class="col-xs col-sm-6">
                        <h4 class="adhar">Adhar</h4>
                    </div>
                </div>
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex">
                    <div class="col-xs col-sm-6 d-flex justify-content-end idtype">
                        <h4 class="country">Country:</h4>
                    </div>
                    <div class="col-xs col-sm-6 idtype">
                        <h4>India</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex">
                    <div class="col-xs col-sm-6 d-flex justify-content-end">
                        <h4 class="idtype">Name:</h4>
                    </div>
                    <div class="col-xs col-sm-6">
                        <h4>USER A</h4>
                    </div>
                </div>
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex">
                    <div class="col-xs col-sm-6 d-flex justify-content-end">
                        <h4>Date of Birth:</h4>
                    </div>
                    <div class="col-xs col-sm-6">
                        <input type="date" class="form-control text-center" placeholder="27/02/2022" />
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                    <img src="https://images.pexels.com/photos/15583987/pexels-photo-15583987/free-photo-of-roof-of-chinese-temple-under-blue-sky.jpeg"
                        alt="Cinque Terre mx-auto d-block" style="width: 70%; height: 195px;" />
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                    <img src="https://images.pexels.com/photos/15583987/pexels-photo-15583987/free-photo-of-roof-of-chinese-temple-under-blue-sky.jpeg"
                        alt="Cinque Terre mx-auto d-block" style="width: 70%; height: 195px;" />
                </div>
                <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                    <div class="col-xs">
                        <h4>Comments</h4>
                        <textarea class="form-control" rows="1" id="comment" placeholder="Kunal is IT prof..."
                            ></textarea>
                    </div>
                    <div class="col-xs mt-5 d-flex">

                        <div class="col-xs col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex">
                            <button type="button" class="btn btn-primary rounded-pill" style="width: 100%">
                                Cancel
                            </button>
                        </div>
                        <div class="col-xs col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary rounded-pill" style="width: 100%">
                                    Reject
                                </button>
                            </div>
                        </div>
                        <div class="col-xs col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex">
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary rounded-pill" style="width: 100%">
                                    Approve
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>