<div class="wrapper">
    <!-- Sidebar  -->
    <div class="iq-sidebar">
   <app-sidebar></app-sidebar>
    </div>
  
    <!-- Page Content  -->
    <div id="content-page" class="content-page" >
       <!-- TOP Nav Bar -->
       <div class="iq-top-navbar">
          <div class="iq-navbar-custom">
             <div class="iq-sidebar-logo">
                <div class="top-logo">
                   <a routerLink="/dashboard" class="logo">
                     <img src="assets/images/logo.png" class="img-fluid" alt="">
                      <span>Private Practice</span>
                   </a>
                </div>
             </div>
             <nav class="">
               <app-header></app-header>
             </nav>
  
          </div>
       </div>
       <!-- TOP Nav Bar END -->
       <div class="container-fluid">
        <router-outlet></router-outlet>
       </div>
  
    
    </div>
  </div>