<div class="col-md-12 col-lg-12 mt-4">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">Verification List</h4>
      </div>
    </div>

    <div
      class="iq-card-body"
      style="overflow-x: scroll;"
      *ngIf="PendingUserList"
    >
    <!-- <ngx-mui-datatable title="Pending Verifications" [data]="PendingUserList" [columns]="columns" [options]="options"></ngx-mui-datatable> -->
      <table class="table text-center table-hover" [dtOptions]="dtOptions" id="maintable" datatable #dt>
        <ng-template p-template="caption">
          <div>
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              size="50"
              placeholder="Search"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              style="width: auto;"
            />
          </div>
        </ng-template>
        <thead>
          <tr class="table-head-bg">
            <th scope="col">Sr no.</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Gender</th>
            <th scope="col">
              Joined
              <br />
              On
            </th>
            <th scope="col">
              Created
              <br />
              By
            </th>
            <th scope="col">Religion</th>
            <th scope="col">caste</th>
            <th scope="col">
              mother
              <br />
              Tongue
            </th>
            <th scope="col">Location</th>
          </tr>
        </thead>*
        
        <tbody>
          <tr *ngFor="let data of PendingUserList; let i = index">
            <td><a routerLink="manage/verification/{{data.id}}">{{ i + 1 }}</a> </td>
            <td><a routerLink="manage/verification/{{data.id}}">{{ data.displayId }}</a></td>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phoneNumber }}</td>
            <td>{{ data.gender == '0' ? 'Male' : 'Female' }}</td>
            <td>{{ data.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td>{{ Relationships[data.relationship] }}</td>
            <td>{{ data.religion }}</td>
            <td>{{ data.cast }}</td>
            <td>{{ data.motherTongue }}</td>
            <td>{{ data.careerCity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
