<!-- <div ngIf="{{subscriber.expiryDate | slice : 0:10}}>{{currentDate}}">
   <div class="alert alert-danger alert-dismissible fade show" role="alert"*ngIf="isShow">
      <strong>Start free trial</strong> Try free for 30 days!
      <a routerLink="/subscription"><button class="btn btn-warning btn-sm font-weight-bold ml-3"><b>Go to subscription plan</b></button></a>
     <a href="#"> <button class="btn btn-success btn-sm font-weight-bold ml-2 "><b>Start free trial</b></button></a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: #0c0c0c;">
        <span aria-hidden="true" class="mt-2">&times;</span>
      </button>
    </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <div class="row col-lg-12">
      <div class="col-lg-3 col-md-6">
        <div
          class="col-md-6 col-lg-12"
          style="height: 250px; background-color: white"
        >
          <div class="row d-flex">
            <div class="col-8 col-md-8 col-lg-8">
              <h4 class="text-center">Visits Today</h4>
            </div>
            <div class="col-4 col-md-8 col-lg-8"></div>
          </div>
        </div>
      </div>

      <!-- <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-body iq-bg-warning rounded">
            <div class="d-flex align-items-center justify-content-between">
              <div class="rounded-circle iq-card-icon bg-warning">
                <i class="fas fa-user-md"></i>
              </div>
              <div class="text-right">
                <h2 class="mb-0">
                  <span class="counter">{{ PhysicianList }}</span>
                </h2>
                <h5 class="">App Performance</h5>
              </div>
            </div>
          </div>
        </div> -->
      <div class="col-lg-3 col-md-6">
        <div
          class="col-md-6 col-lg-12"
          style="height: 250px; background-color: white"
        >
          <div class="row d-flex">
            <div class="col-8 col-md-8 col-lg-8">
              <h4 class="text-center">Visits Today</h4>
            </div>
            <div class="col-4 col-md-8 col-lg-8"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="col-md-6 col-lg-12"
          style="height: 250px; background-color: white"
        >
          <div class="row d-flex">
            <div class="col-8 col-md-8 col-lg-8">
              <h4 class="text-center">Visits Today</h4>
            </div>
            <div class="col-4 col-md-8 col-lg-8"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div
          class="col-md-6 col-lg-12"
          style="height: 250px; background-color: white"
        >
          <div class="row d-flex">
            <div class="col-8 col-md-8 col-lg-8">
              <h4 class="text-center">Visits Today</h4>
            </div>
            <div class="col-4 col-md-8 col-lg-8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-12 col-lg-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Recently Visited Patient List</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center"></div>
          </div>
          <div class="iq-card-body">
            <div class="table-responsive">
              <table
                #dt
                datatable
                class="table mb-0 table-borderless"
                id="maintable"
                *ngIf="flag == 1"
              >
                <ng-template p-template="caption">
                  <div>
                    <i class="pi pi-search"></i>
                    <input
                      type="text"
                      pInputText
                      size="50"
                      placeholder="Search"
                      (input)="dt.filterGlobal($event.target.value, 'contains')"
                      style="width: auto"
                    />
                  </div>
                </ng-template>
                <thead>
                  <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Member Id</th>
                    <th scope="col">Patient</th>

                    <th scope="col">Patient Name</th>
                    <th scope="col"></th>
                    <th scope="col">Timing Of appointment</th>

                    <th scope="col">Health & Condition</th>
                    <th>Plan Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of recentPatients; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.snahId }}</td>
                    <td class="text-center">
                      <img
                        class="rounded-circle img-fluid avatar-40"
                        src="{{ data.patientId.profileImage }}"
                        alt="profile"
                      />
                    </td>
                    <td>{{ data.patientId.name }}</td>
                    <td>
                      <div class="iq-media-group"></div>
                    </td>
                    <td>{{ data.slot[0] }}</td>

                    <td>{{ data.medicalIssue }}</td>
                    <td>
                      {{ data.patientId.insurance.healthInsurancePlanType }}
                    </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="row">
          <div class="col-md-6 col-lg-12">
            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                <div class="iq-info-box d-flex align-items-center p-3">
                  <div class="info-image mr-3">
                    <img
                      src="assets/images/page-img/30.png"
                      class="img-fluid"
                      alt="image-box"
                    />
                  </div>
                  <div class="info-text">
                    <h3>120</h3>
                    <span>Pending Appointments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-12">
            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                <div class="iq-info-box d-flex align-items-center p-3">
                  <div class="info-image mr-3">
                    <img
                      src="assets/images/page-img/31.png"
                      class="img-fluid"
                      alt="image-box"
                    />
                  </div>
                  <div class="info-text">
                    <h3>5000</h3>
                    <span>Confirmed Appointments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-12">
            <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
              <div class="iq-card-body">
                <div class="iq-info-box d-flex align-items-center p-3">
                  <div class="info-image mr-3">
                    <img
                      src="assets/images/page-img/32.png"
                      class="img-fluid"
                      alt="image-box"
                    />
                  </div>
                  <div class="info-text">
                    <h3>1500</h3>
                    <span>Cancelled Appointments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
          <div class="iq-card-header d-flex justify-content-between">
            <div class="iq-header-title">
              <h4 class="card-title">Recent Appointment</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center"></div>
          </div>
          <div class="iq-card-body">
            <div class="visit-box">
              <div
                class="visit-box-content d-flex justify-content-between text-center"
              >
                <div class="visit-box-text">
                  <h6>Patient Name</h6>
                  <span>Juliat Fancy</span>
                </div>
                <div class="visit-box-text">
                  <h6>Sex</h6>
                  <span>Female</span>
                </div>
                <div class="visit-box-text">
                  <h6>Age</h6>
                  <span>29</span>
                </div>
                <div class="visit-box-text">
                  <h6>Appointment Date</h6>
                  <span>19-06-2021</span>
                </div>
              </div>
              <div class="visit-box-button">
                <a routerLink="/appointments">
                  <button>Pending Appointment</button>
                </a>
              </div>
              <div class="visit-id">
                <h6><strong>B.ID</strong>A100</h6>
              </div>
            </div>

            <div class="visit-box">
              <div
                class="visit-box-content d-flex justify-content-between text-center"
              >
                <div class="visit-box-text">
                  <h6>Patient Name</h6>
                  <span>Rosy Dsooza</span>
                </div>
                <div class="visit-box-text">
                  <h6>Sex</h6>
                  <span>Female</span>
                </div>
                <div class="visit-box-text">
                  <h6>Age</h6>
                  <span>83</span>
                </div>
                <div class="visit-box-text">
                  <h6>Appointment Date</h6>
                  <span>21-06-2021</span>
                </div>
              </div>
              <div class="visit-box-button">
                <a routerLink="/appointments">
                  <button>Confirmed Appointment</button></a
                >
              </div>
              <div class="visit-id">
                <h6><strong>B.ID</strong>A102</h6>
              </div>
            </div>

            <div class="visit-box">
              <div
                class="visit-box-content d-flex justify-content-between text-center"
              >
                <div class="visit-box-text">
                  <h6>Patient Name</h6>
                  <span>James Henry</span>
                </div>
                <div class="visit-box-text">
                  <h6>Sex</h6>
                  <span>Male</span>
                </div>
                <div class="visit-box-text">
                  <h6>Age</h6>
                  <span>43</span>
                </div>
                <div class="visit-box-text">
                  <h6>Appointment Date</h6>
                  <span>23-06-2021</span>
                </div>
              </div>
              <div class="visit-box-button">
                <a routerLink="/appointments/person"
                  ><button>Cancelled Appointment</button></a
                >
              </div>
              <div class="visit-id">
                <h6><strong>B.ID</strong>A104</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
