<div class="col-md-12 col-lg-12 mt-4">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">User Balance</h4>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <div class="row col-lg-12">
             
              <div class="col-lg-3 col-md-6" routerLink="connect-details">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body iq-bg-warning rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <!-- <div class="rounded-circle iq-card-icon bg-info">
                        <i class="fas fa-user-md"></i>
                      </div> -->
                      
                      <div class="text-center">
                        <h2>Connect Details</h2>
                        
                        <!-- <h2 class="mb-0">
                          <span class="counter">200</span>
                        </h2>
                        <h5 class="">All Users</h5> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="col-lg-3 col-md-6" routerLink="payment-details">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body iq-bg-success rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <!-- <div class="rounded-circle iq-card-icon bg-info">
                        <i class="fas fa-user-md"></i>
                      </div> -->
                      <div class="text-center">
                        <h2>Payment Details</h2>
                        <!-- <h2 class="mb-0">
                          <span class="counter">200</span>
                        </h2>
                        <h5 class="">All Users</h5> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <!-- <div class="rounded-circle iq-card-icon bg-info">
                        <i class="fas fa-user-md"></i>
                      </div> -->
                      <div class="text-center">
                        <h2>Current Balance</h2>
                        <!-- <h2>
                          <span class="counter">200</span>
                        </h2> -->
                        <!-- <h5 class="">All Users</h5> -->
                      </div>
                      <div>
                        <span class="counter"><h1>2</h1>Connects</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
              
  
  
      
      <div class="iq-card-body" style="overflow-x: scroll">
        <div class="container mt-3" *ngIf="rechargeHistoryUser">
          <table class="table table-bordered" id="maintable" datatable>
            <thead>
              <tr class="table-head-bg">
                <th >Transection ID</th>
                <th >Time Stamp</th>
                <th >Payment Source</th>
                <th >Discount</th>
                <th >Discount Source</th>
                <th >Amount</th>
                <th >No of Connects</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let data of rechargeHistoryUser;let i = index">
                <td>{{data.transactionId}}</td>
                <td>{{data.createdAt}}</td>
                <td>{{data.modeOfPayment}}</td>
                <td>{{data.discountedAmount}}</td>
                <td>{{data.couponCode}}</td>
                <td>{{data.actualAmount}}</td>
                <td>{{data.connectCount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  