


  <div class="col-md-12 col-lg-12 mt-4">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title"></h4>
        </div>
        
      </div>
      <div
        class="iq-card-body"
        style="overflow-x: scroll"
      >
      <div class="container mt-3">        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-head-bg">Meet Receiver</th>
              <th class="table-head-bg"></th>
              <th class="table-head-bg">Reguest status</th>
              <th class="table-head-bg">Meet Type</th>
              <th class="table-head-bg">Date & Time</th>
              <th class="table-head-bg">location</th>
              <th class="table-head-bg">Status</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MPID</td>
              <td>User B</td>
              <td>Pending</td>
              <td>virtual</td>
              <td>22/02/2022<br>8.30pm</td>
              <td>Google map link..</td>
              <td>Upcoming Expired</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      

      </div>
      </div>
      </div>



