<div class="iq-sidebar-logo d-flex justify-content-between">
  <a routerLink="/dashboard">
    <span>Make My Marry Admin</span>
  </a>
  <div class="iq-menu-bt-sidebar">
    <div class="iq-menu-bt align-self-center">
      <div class="wrapper-menu">
        <div class="main-circle"><i class="ri-more-fill"></i></div>
        <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
      </div>
    </div>
  </div>
</div>
<div id="sidebar-scrollbar">
  <nav class="iq-sidebar-menu">
    <ul id="iq-sidebar-toggle" class="iq-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/dashboard" class="iq-waves-effect">
          <i class="ri-home-8-fill"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/admin-users" class="iq-waves-effect">
          <i class="fas fa-user-md"></i>
          <span>Admin Users</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/pending-verifications" class="iq-waves-effect">
          <i class="fas fa-user-md"></i>
          <span>Pending verifications</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/active-users" class="iq-waves-effect">
          <i class="fas fa-user-md"></i>
          <span>Active Users</span>
        </a>
      </li>
      <li>
        <a
          href="#charts1"
          class="iq-waves-effect collapsed"
          data-toggle="collapse"
          aria-expanded="false"
          ><i class="ri-calendar-event-fill"></i><span> Package</span
          ><i class="ri-arrow-right-s-line iq-arrow-right"></i
        ></a>
        <ul
          id="charts1"
          class="iq-submenu collapse"
          data-parent="#iq-sidebar-toggle"
        >
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/coupon"
              ><i class="ri-bar-chart-box-fill"></i>Coupon</a
            >
          </li>

          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/product-pricing"
              ><i class="ri-pie-chart-box-fill"></i> Product-pricing</a
            >
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/referral-benifits"
              ><i class="ri-pie-chart-box-fill"></i> Referral-benifits</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a class="iq-wave-effect" (click)="Logout()">
          <i class="ri-logout-circle-line"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<script>
  function loadImg() {
    $("#frame").attr("src", URL.createObjectURL(event.target.files[0]));
  }
</script>
