<form [formGroup]="productPricingForm" (submit)="onFormSubmit()">
  <div class="col-md-12 col-lg-12 mt-4 w-75 mx-auto my-auto">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">
            <span class="mx-2" routerLink="/product-pricing">
              <i
                class="fa fa-arrow-left"
                style="color: rgb(214, 24, 94); cursor: pointer"
              ></i></span
            >connect Pricing</h4>
        </div>
      </div>

      <div class="iq-card-body" style="overflow-x: scroll">
        <div class="row">
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center"
          >
            <h4 class="card-title mt-2">M.R.P.</h4>
          </div>
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex"
          >
            <div class="col-xs col-sm-6 d-flex justify-content-end">
              <h4 class="p-2">INR</h4>
            </div>
            <div class="col-xs col-sm-6">
              <input
                type="text"
                (input)="onChangeVaule()" (keypress)="stopSpaceEnter($event)"
                class="form-control text-center"
                placeholder="300"
                formControlName="connectPrice"
              />
              <p class="text-danger mt-2" *ngIf="productPricingForm.controls['connectPrice'].hasError('required') && productPricingForm.controls['connectPrice'].touched" >Enter MRP</p>

            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center"
          >
            <h4 class="card-title mt-2">General Discount</h4>
          </div>
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex"
          >
            <div class="col-xs col-sm-6 d-flex justify-content-end">
              <h4 class="p-2">%</h4>
            </div>
            <div class="col-xs col-sm-6">
              <input
                type="text"
                (input)="onChangeVaule()" (keypress)="stopSpaceEnter($event)" maxlength="2"
                class="form-control text-center"
                placeholder="50"
                formControlName="discount"
              />
              <p class="text-danger mt-2" *ngIf="productPricingForm.controls['discount'].hasError('required') && productPricingForm.controls['discount'].touched" >Enter General Discount
              </p>

            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center"
          >
            <h4 class="card-title mt-2">Discounted Price</h4>
          </div>
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex"
          >
            <div class="col-xs col-sm-6 d-flex justify-content-end">
              <h4 class="p-2">INR</h4>
            </div>
            <div class="col-xs col-sm-6">
              <input
                disabled
                type="text"
                class="form-control text-center"
                placeholder="150"
                formControlName="discountedPrice"
              />
              <p class="text-danger mt-2" *ngIf="productPricingForm.controls['discountedPrice'].hasError('required') && productPricingForm.controls['discountedPrice'].touched" >Enter Discounted Price</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 mt-4 w-75 mx-auto my-auto">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">First Time Benifit</h4>
        </div>
      </div>
      <div class="iq-card-body" style="overflow-x: scroll">
        <div class="row">
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center"
          >
            <h4 class="card-title mt-2">Audio/Video Call Duration</h4>
          </div>
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex"
          >
            <div class="col-xs col-sm-6 d-flex justify-content-end">
              <h4 class="p-2">min</h4>
            </div>
            <div class="col-xs col-sm-6">
              <input
                type="text"
                class="form-control text-center"
                placeholder="30" (keypress)="numberOnly($event)"
                formControlName="firstTimeBenifitMins"
              />
              <p class="text-danger mt-2" *ngIf="productPricingForm.controls['firstTimeBenifitMins'].hasError('required') && productPricingForm.controls['firstTimeBenifitMins'].touched" >Enter First Time Benifit</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-12 mt-4 w-75 mx-auto my-auto">
    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Second Time and Onwards Benifits</h4>
        </div>
      </div>
      <div class="iq-card-body" style="overflow-x: scroll">
        <div class="row">
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center"
          >
            <h4 class="card-title mt-2">Audio/Video Call Duration</h4>
          </div>
          <div
            class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex"
          >
            <div class="col-xs col-sm-6 d-flex justify-content-end">
              <h4 class="p-2">min</h4>
            </div>
            <div class="col-xs col-sm-6">
              <input
                type="text"
                class="form-control text-center"
                placeholder="60" (keypress)="numberOnly($event)"
                formControlName="secondTimeBenifitMins"
              />
              <p class="mt-2" *ngIf="productPricingForm.controls['secondTimeBenifitMins'].hasError('required') && productPricingForm.controls['secondTimeBenifitMins'].touched" class="text-danger mt-2">Enter Second Time And Onwards Benifits</p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div
            class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 text-center"
          ></div>
          <div
            class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5 d-flex"
          >
            <div
              class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex"
            >
              <button
                type="button" [routerLink]="['/product-pricing']" routerLinkActive="router-link-active" 
                class="btn btn-primary rounded-pill"
                style="width: 100%"
              >
                Cancel
              </button>
            </div>
            <div class="col-xs col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <div class="d-flex justify-content-end">
                <button
                  type="submit"  [disabled]="productPricingForm.invalid"
                  class="btn btn-primary rounded-pill"
                  style="width: 100%"
                >
                  Apply
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
