
  <div class="col-md-12 col-lg-12 mt-4">
    <div class="iq-card">
      <!-- <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">user Balance</h4>
        </div>
        
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
       
      </div> -->
      <!-- <div
        class="iq-card-body"
        style="overflow-x: scroll"
      > -->
  
      <!-- <div class="row">
        <div class="col-sm-8 col-md-8 col-8 col-lg-8 col-xl-8">
          <form>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <input class="form-control" type="text" placeholder="None"> 
              </div>
   
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <input class="form-control" type="text" placeholder="None">
                 
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <input class="form-control" type="text" placeholder="None">
              </div>
  
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <input class="form-control" type="text" placeholder="None">
              </div>
  
            </div>
          </form>
        </div>
        <div class="col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4">
      </div>
    </div>
  
      <div class="row">  
        <div class="col-sm-8 col-md-8 col-8 col-lg-8 col-xl-8">
          <form>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3 ">
                <label>Gender<span class="text-danger"></span></label>
                 <div class="form-group">
                  <select class="select form-control">
                    <option>None</option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>other</option>
                  </select> 
                 </div>
              </div>
  
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <label>Created For<span class="text-danger"></span></label>
                 <div class="form-group">
                  <select class="select form-control">
                    <option>None</option>
                    <option>Self</option>
                    <option>Son</option>
                    <option>Daughter</option>
                    <option>Brother</option>
                    <option>Friend</option>
                    <option>Relative</option>
                  </select> 
                 </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <label>Religion<span class="text-danger"></span></label>
                <input class="form-control" type="text" placeholder="None">
                 
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <label>MotherTongue<span class="text-danger"></span></label>
                <input class="form-control" type="text" placeholder="None">
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-8 col-md-8 col-8 col-lg-8 col-xl-8">
        <form>
          <div class="row">
            <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3 ">
              <label>Country<span class="text-danger"></span></label>
               <div class="form-group">
                <select class="select form-control">
                  <option>None</option>
                  <option>Afghanistan</option>
                  <option>Albania</option>
                  <option>Algeria</option>
                  <option>American Samoa</option>
                  <option>Andorra</option>
                  <option>Angola</option>
                  <option>Anguilla</option>
                  <option>Antarctica</option>
                  <option>Antigua And Barbuda</option>
                  <option>Argentina</option>
                  <option>Armenia</option>
                  <option>Aruba</option>
                  <option>Australia</option>
                  <option>Austria</option>
                  <option>Azebaijan</option>
                  <option>Bahamas The</option>
                  <option>Bahrain</option>
                  <option>Barbados</option>
                  <option>Belarus</option>
                  <option>Belgium</option>
                  <option>Belize</option>
                  <option>Benin</option>
                  <option>Bermuda</option>
                  <option>Bhutan</option>
                  <option>Bolivia</option>
                  <option>Bosina and Herzegovina</option>
                  <option>Botswana</option>
                  <option>Bouvet Island</option>
                  <option>Brazil</option>  
                  <option>British India Ocean Territory</option>
                  <option>Brunei</option>
                  <option>Bulgaria</option>
                  <option>Burkina Faso</option>
                  <option>Burundi</option>
                  <option>Cambodia</option>
                  <option>Cameroon</option>
                  <option>canada</option>
                  <option>Cape Verde</option>
                  <option>Cayman Islanda</option>
                  <option>Central African Republic</option>
                  <option>Chad</option>
                  <option>Chad</option>
                  <option>Chad</option>
                  <option>Chad</option>
                  <option>Chad</option>
                  <option>Chad</option>
                </select> 
               </div>
            </div>
  
            <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
              <label>State<span class="text-danger"></span></label>
               <div class="form-group">
                <select class="select form-control">
                  <option>None</option>
                  <option>Self</option>
                  <option>Son</option>
                  <option>Daughter</option>
                  <option>Brother</option>
                  <option>Friend</option>
                  <option>Relative</option>
                </select> 
               </div>
            </div>
            <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
              <label>Created Form<span class="text-danger"></span></label>
              <input class="form-control" type="date" placeholder="None">
               
            </div>
            <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
              <label>Created To<span class="text-danger"></span></label>
              <input class="form-control" type="date" placeholder="None">
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4 d-flex justify-content-end">
        <form class="form-inline">
          <h4 class="card-title">Total Users:40</h4>
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          CLEAR
        </button>
        </form>
    </div>
  </div> -->
    <!-- </div> -->
    
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">manage User Balance</h4>
      </div>
    </div>

    <div class="iq-card-body" style="overflow-x: scroll" *ngIf="ActiveUserList&&ActiveUserList.users">
      <table class="table text-center table-hover" id="maintable" datatable #dt>
        <ng-template p-template="caption">
          <div>
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              size="50"
              placeholder="Search"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              style="width: auto"
            />
          </div>
        </ng-template>
        <thead>
          <tr class="table-head-bg">
            <th scope="col">Sr no.</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Gender</th>
            <th scope="col">Joined<br />On</th>
            <th scope="col">Created<br />By</th>
            <th scope="col">Religion</th>
            <th scope="col">caste</th>
            <th scope="col">
              mother<br />
              Tongue
            </th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ActiveUserList.users;let i = index">
            <td><a routerLink="manage-user-balance/{{data.id}}">{{ i + 1 }}</a></td>
            <td><a routerLink="manage-user-balance/{{data.id}}">{{ data.displayId }}</a></td>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phoneNumber }}</td>
            <td>{{ data.gender == '0' ? 'Male' : 'Female' }}</td>
            <td>{{ data.createdAt | date: 'dd/MM/yyyy' }}</td>
            <td>{{ Relationships[data.relationship] }}</td>
            <td>{{ data.religion }}</td>
            <td>{{ data.cast }}</td>
            <td>{{ data.motherTongue }}</td>
            <td>{{ data.careerCity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
