<div class="col-md-12 col-lg-12 mt-4">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
      </div>
    </div>
    
    <div class="iq-card-body" style="overflow-x: scroll">
      <div class="container mt-3" *ngIf="rechargeHistoryUser">
        <table class="table table-bordered" id="maintable" datatable>
          <thead>
            <tr>
              <th >Created Form Date</th>
              <th >Created To Date</th>
              <th >Gender</th>
              <th >Location</th>
              <th >Discount </th>
              <th >Discount Source</th>
              <th >payment status</th>
              <th ></th>
              <th ></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input  type="date" /></td>
              <td><input  type="date" /></td>
              <td><select>
                <option>None</option>
                <option>Male</option>
                <option>Female</option>
                <option>other</option>
              </select></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <thead>
            <tr class="table-head-bg">
              <th >Transection ID</th>
              <th >Time Stamp</th>
              <th >Payment Source</th>
              <th >Discount</th>
              <th >Discount Source</th>
              <th >Amount</th>
              <th >No of Connects</th>
              <th >MPID</th>
              <th >Transaction status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{data.transactionId}}</td>
              <td>{{data.createdAt}}</td>
              <td>{{data.modeOfPayment}}</td>
              <td>{{data.discountedAmount}}</td>
              <td>{{data.couponCode}}</td>
              <td>{{data.actualAmount}}</td>
              <td>{{data.connectCount}}</td>
              <td></td>
              <td></td>

            </tr>
            <tr>
              <td>{{data.transactionId}}</td>
              <td>{{data.createdAt}}</td>
              <td>{{data.modeOfPayment}}</td>
              <td>{{data.discountedAmount}}</td>
              <td>{{data.couponCode}}</td>
              <td>{{data.actualAmount}}</td>
              <td>{{data.connectCount}}</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
