
<div class="col-md-12 col-lg-12 mt-4">
  <div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
      <div class="iq-header-title">
        <h4 class="card-title">Account</h4>
      </div>

      <div class="form-inline">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search (By MPID, Email,Mobile No) "
          aria-label="Search"
          (change)="onSearch($event)"
        />
      </div>
    </div>
    <div class="iq-card-body" style="overflow-x: scroll">
      <div class="col" ngIF="recentSearchList.length">
        <label>Recent Search</label>
        <div class="row d-flex">
          <div
            class="col-3 mb-2"
            *ngFor="let data of recentSearchList; let i = index"
          >
            <a routerLink="manage/users/{{ data.id }}">
             
              <button class="btn btn-secondary">{{ data.displayId }}</button>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-md-10 col-10 col-lg-10 col-xl-10">
          <form>
            <div class="row">
              <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
                <label>Date<span class="text-danger"></span></label>
                <input
                  class="form-control"
                  type="date"
                  placeholder="None"
                  [value]="date"
                  (change)="onFromDateChange($event)"
                />
              </div>
              <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
                <label>Gender<span class="text-danger"></span></label>
                <div class="form-group">
                  <select
                  [value]="gender"
                    class="select form-control"
                    (change)="onChangeGender($event)"
                  >
                    <option value="3">None</option>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">other</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
                <label>Location Filter<span class="text-danger"></span></label>
                <div class="form-group">
                  <select
                    class="select form-control"
                    [value]="isVerified"
                    (change)="onChangeUserType($event)"
                  >
                    <option value="3">None</option>
                    <option value="1">Bhubaneswar</option>
                    <option value="0">Mumbai</option>
                    <option value="2">West Bengal</option>
                  </select>
                </div>
              </div>
              

              <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
                <label>Discount Filter <span class="text-danger"></span></label>
                <div class="form-group">
                  <select
                    class="select form-control"
                    [value]="createdBy"
                    (change)="onCreatedForChange($event)"
                  >
                    <option value="7">None</option>
                    <option value="0">Self</option>
                    <option value="1">Son</option>
                    <option value="2">Daughter</option>
                    <option value="3">Brother</option>
                    <option value="4">Friend</option>
                    <option value="5">Relative</option>
                  </select>
                </div>
              </div>
             
              <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
                <label>Discount Source Filter <span class="text-danger"></span></label>
                <div class="form-group">
                  <select
                    class="select form-control"
                    [value]="createdBy"
                    (change)="onCreatedForChange($event)"
                  >
                    <option value="7">None</option>
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                  </select>
                </div>
              </div>
              
              <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2">
                <label>Payment Status Filter <span class="text-danger"></span></label>
                <div class="form-group">
                  <select
                    class="select form-control"
                    [value]="createdBy"
                    (change)="onCreatedForChange($event)"
                  >
                    <option value="7">None</option>
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                  </select>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2"></div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-12 col-lg-12 col-xl-12">
          <form>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Total Transection</h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                         0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Success Transaction</h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                          0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Failure Transaction</h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                          0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Total Connect Sale</h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                          0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
           
            </div>
          </form>
        </div>
      
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-12 col-lg-12 col-xl-12">
          <form>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Gross Sale  </h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                         0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Net Sale </h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                          0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Total Discount </h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                          0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="cursor:pointer;">
                  <div class="iq-card-body iq-bg-info rounded">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="text-center">
                        <h2>Total Amount</h2>
                      </div>
                      <div>
                        <span class="counter"
                          >
                          0</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="iq-card">
      <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
          <h4 class="card-title">Account List</h4>
        </div>
      </div>

      <div
        class="iq-card-body"
        style="overflow-x: scroll"
        *ngIf="ActiveUserList && ActiveUserList.users"
      >
        <table
          class="table text-center table-hover"
          id="maintable"
          datatable
          #dt
        >
          <ng-template p-template="caption">
            <div>
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                size="50"
                placeholder="Search"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width: auto"
              />
            </div>
          </ng-template>
          <thead>
            <tr class="table-head-bg">
              <th scope="col">Sl No.</th>
              <th scope="col">Transction ID</th>
              <th scope="col">Time Stamp</th>
              <th scope="col">Payment Source</th>
              <th scope="col">Discount(%)</th>
              <th scope="col">Discount Source</th>
              <th scope="col">Amount</th>
              <th scope="col">No of  Connects</th>
              <th scope="col">MPID</th>
              <th scope="col">Transaction Status</th>
              <th scope="col">
                Mother<br />
                Tongue
              </th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ActiveUserList.users; let i = index">
              <td>
                <a>{{ i + 1 }}</a>
              </td>
              <td>
                <a
                  (click)="onNavigateManageUser(data)"
                  style="color: rgb(99, 74, 226); cursor: pointer"
                >
                  {{ data.displayId }}
                </a>
              </td>
              <td>{{ data.name }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.phoneNumber }}</td>
              <td>{{ data.gender == "0" ? "Male" : "Female" }}</td>
              <td>{{ data.createdAt | date: "dd/MM/yyyy" }}</td>
              <td>{{ Relationships[data.relationship] }}</td>
              <td>{{ data.religion }}</td>
              <td>{{ data.cast }}</td>
              <td>{{ data.motherTongue }}</td>
              <td>{{ data.careerCity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


